#player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#next {
 margin-left: auto;
 margin-right: auto;
 display: flex;
}

#drop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.row {
    margin-bottom: 0px
}